body{
    background-color: rgb(184, 187, 187);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    text-decoration: none;

}
#pic{
    height: 200px;
    width: 200px;
    border-radius: 360%;
}