body{
    background-color: rgb(17, 226, 226);
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 23px;
    text-align: center;

}
#L{
    list-style-type: none;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 20px;
    color: blueviolet;
}
#pic{
    height: 200px;
    width: 200px;
    border-radius: 360%;
}
li a{
    text-decoration: none;
  }