



body {
    margin: -10px;
    padding: -10px;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 50%;
    padding: 20px;
    color: black;
}

.right {
    width: 50%;
    padding: 20px;
    color: #fff;
}

.red {
    background-color: pink;
}

.blue {
    background-color:lightblue;
}
.circle-img{
    display: block;
   margin: 0 auto ;
   align-items: center;
   height: 290px;
   position: right;
 
}
.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}
